@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;600&display=swap');

.download-view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .download-ui {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 50em;
    background: #2a363b;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.61);
    border-radius: 15px;

    @media screen and (max-width: 850px) {
      height: 100vh;
      width: 100vw;
      border-radius: unset;
      box-shadow: unset;
    }

    .errMsg {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      padding: 20px;
      font-size: 20pt;
    }

    .lnk-other-arch {
      display: flex;
      font-size: 13pt;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      gap: 5px;
      text-align: center;
      align-items: center;
      
      .lnk-oth-txt {
        display: flex;
        gap: 5px;
      }

      @media screen and (max-width: 850px) {
        display: flex;
        flex-direction: column;
      }

      a {
        text-decoration: underline dotted;
        color: whitesmoke;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
          font-weight: 800;
        }
      }
    }

    .ui-header {
      padding: 15px 0;
      width: 100%;
      background: linear-gradient(96.67deg, rgba(255, 0, 0, 0.49) -12.56%, #FF9900 93.53%);


      .hd-sub1 {
        padding: 0 10px;
        font-size: 18pt;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.60);
      }
    }

    .btns-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
      justify-content: center;

      .dnl-title {
        font-size: 25pt;
        padding: 10px 0;
        font-family: 'Raleway', sans-serif;
      }

      .btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (max-height: 600px) {
          flex-wrap: nowrap;
        }

        .download-btn {
          text-transform: unset;
          display: block;
          background: linear-gradient(
                          148.61deg, rgba(255, 139, 54, 0.81) 11.06%,
                          rgba(255, 111, 63, 0.868612) 56.91%,
                          rgba(255, 0, 0, 0.98) 139.53%
          );

          color: white;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
          width: 180px;
          height: 150px;
          transition: transform 0.2s ease-in-out,
          box-shadow 0.2s ease-in-out;

          &:hover {
            box-shadow: 5px -1px 20px rgba(0, 0, 0, 0.4);
            transform: scale(1.05);
          }

          @media screen
          and (max-width: 450px) {
            width: 40vw;
            height: 25vh;
          }

          .lbl-arch {
            font-size: 12pt;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
          }
        }
      }
    }
  }
}